@{
    Layout = "";
    var listDanhMuc = (List<Model.EF.DanhMuc>)ViewBag.DanhMuc;
}
@model List<CDIO4.Models.CartModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home</title>
    <!-- Custom fonts for this template-->
    <link href="~/Assets/Home/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Assets/Home/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Assets/Bs 4/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Home.css" />

    <style>
        #Information {
            width: 600px;
            margin-top: 30px;
            padding: 30px;
            margin-left: 500px;
        }

        #Support {
            margin-top: 80px;
        }

        .content {
            display: flex;
        }

        .st1, .st2 {
            margin: 0px;
            padding: 10px;
            background-color: #15a7f1;
            color: white;
            font-weight: bold;
        }

        .st3 {
            margin: 0px;
            padding: 10px;
            color: #15a7f1;
            font-weight: bold;
        }
    </style>
</head>
<body id="page-top">
    @{
        var session = (CDIO4.Common.UserLogin)Session[CDIO4.Common.CommonStants.USER_SESSION];
    }
    <div class="navbar navbar-expand navbar-dark bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand ml-md-5 mr-auto" href="/Home/Index" ref="nofollow">Website Đấu Giá</a>
            <!--Bar left-->
            <ul class="navbar-nav pr-5">
                <li class="nav-item no-arrow mx-1">
                    <a class="btn text-white" href="/Cart/Index">
                        <i class="fas fa-shopping-cart fa-fw"></i>
                        Giỏ hàng
                        @{ Html.RenderAction("ThongBao", "Home");}
                    </a>
                </li>
                <li class="nav-item no-arrow mx-1">
                    @if (session != null)
                    {
                        <a class="btn text-white" id="mybidd" href="/MyBidding/Index?ten=@session.TenDangNhap">
                            <i class="fas fa-gavel fa-fw"></i>
                            Đấu giá của tôi
                        </a>
                    }
                    else
                    {
                        <a class="btn text-white" id="mybidd" href="">
                            <i class="fas fa-gavel fa-fw"></i>
                            Đấu giá của tôi
                        </a>
                    }
                </li>
                <li class="nav-item mx-1">
                    <a class="btn text-white show-modal" data-toggle="modal" data-target="#loginModal" id="Login-Button">Đăng nhập</a>
                </li>
                <li class="nav-item dropdown no-arrow mx-1" id="login-Account">

                    <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-fw"></i>
                        @if (session != null)
                        {
                            @session.TenDangNhap
                        }
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Cá nhân</a>
                        <a class="dropdown-item" href="#">Đơn hàng</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="AuctionFeed">
        <div id="tabs" class="bg-light">
            <div class="wrapper">
                <ul id="List-Catogeries" class="mr-3">
                    <li>
                        <a class="active" href="#">KẾT THÚC NGAY</a>
                    </li>
                    @if (listDanhMuc != null)
                    {
                        foreach (var item in listDanhMuc)
                        {
                            var url = "/Category/Index?tendanhmuc=" + item.ID;
                            <li>
                                <a href="@url">@item.TenDanhMuc</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="content">
        <div id="Information" style="color:black;">
            <h1 style="font:bold;">Thanh toán</h1>
            <h5 style="font:bold;">Địa chỉ gửi hàng</h5>
            @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
            {
                <form class="py-4">
                    <div class="form-group row ">
                        <label for="TenDG" class="col-2 col-form-label">Tên người thắng</label>
                        <div class="col-10">
                            <input name="tendg" type="text" class="form-control" id="TenDG" value="@session.TenDangNhap" />
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label for="Ten" class="col-2 col-form-label">Họ tên</label>
                        <div class="col-10">
                            <input name="ten" type="text" class="form-control" id="Ten" placeholder="Họ và tên" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sdt" class="col-2 col-form-label">Số điện thoại</label>
                        <div class="col-10">
                            <input name="sdt" type="text" class="form-control" id="sdt" placeholder="Số điện thoại" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="DiaChi" class="col-2 col-form-label">Địa chỉ</label>
                        <div class="col-10">
                            <input name="diachi" type="text" class="form-control" id="DiaChi" placeholder="Số nhà/ Tên đường/ Phường/Quận/ Thành phố" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-2 col-form-label">Email</label>
                        <div class="col-10">
                            <input name="email" type="text" class="form-control" id="email" placeholder="Email" />
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>
                </form>
            }
        </div>
        <div id="Support">
            <div class="border border-primary rounded w-75">
                <h4 style="font:bold;" class="st1">Có câu hỏi?</h4>
                <p class="st2">Vui lòng liên hệ bộ phận hỗ trợ 24 giờ của chúng tôi.</p>
                <p class="st3">Sdt. (028)-36222111</p>
            </div>
            <div class="border border-primary rounded w-75 mt-3">
                <h4 style="font:bold;" class="st1">Tổng kết đơn hàng</h4>
                <div class="row m-0" style="height:50px; width:215px; border-bottom: 1px solid #15a7f1">
                    <div class="col-9 mb-0 pt-1"><p class="mb-0" style="font-weight: bold; color:#15a7f1;">Giao hàng tiêu chuẩn - giao hàng tận nơi.</p></div>
                    <div class="col-3 mb-0 pt-1"><p class="mb-0" style="font-weight: bold; color:#15a7f1;">35K</p></div>
                </div>
                <div class="row m-0" style="height: 40px; width:215px;">
                    <div class="col-9  mb-0 pt-2"><p class="mb-0" style="font-weight: bold; color:red;">Số tiền cần thanh toán</p></div>
                    @foreach (var item in Model)
                    {
                        <div class="col-3 mb-0 pt-2"><p class="mb-0" style="font-weight: bold; color:red;">@(item.Product.GiaBanRa.GetValueOrDefault(0) * 0.1 + item.Product.GiaBanRa.GetValueOrDefault(0) + 35)K</p></div>
                    }
                </div>
            </div>
        </div>
    </div>

    <footer class="footer bg-primary mt-2">
        <div class="container">
            <div class="copyright text-center">
                <span>Copyright © Your Website 2019</span>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Assets/Home/vendor/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        @if (session == null)
        {
            <text>
        var login_button = document.getElementById("Login-Button");
        var login_account = document.getElementById("login-Account");
        login_account.parentNode.replaceChild(login_button, login_account);
            </text>
        }
        else
        {
            <text>
        var login_button = document.getElementById("Login-Button");
        var login_account = document.getElementById("login-Account");
        login_button.parentNode.replaceChild(login_account, login_button);
            </text>
        }
    </script>
</body>
</html>