@model Model.EF.TaiKhoan
@{
    ViewBag.Title = "Edit";
    Layout = null;
    var listDanhMuc = (List<Model.EF.DanhMuc>)ViewBag.DanhMuc;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <!-- Custom fonts for this template-->

    <link rel="stylesheet" type="text/css" href="~/Assets/Bs 4/css/bootstrap.css" />
    <link href="~/Assets/Home/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/Home/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/Home.css" />
</head>
<body>
    @{
        var session = (CDIO4.Common.UserLogin)Session[CDIO4.Common.CommonStants.USER_SESSION];
    }
    <div class="navbar navbar-expand navbar-dark bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand ml-md-5 mr-auto" href="/" ref="nofollow">Website Đấu Giá</a>
            <!--Bar left-->
            <ul class="navbar-nav pr-5">
                <li class="nav-item no-arrow mx-1">
                    <a class="btn text-white" href="/Cart/Index">
                        <i class="fas fa-shopping-cart fa-fw"></i>
                        Giỏ hàng
                        @{ Html.RenderAction("ThongBao", "Home");}
                    </a>
                </li>
                <li class="nav-item no-arrow mx-1">
                    @if (session != null)
                    {
                        <a class="btn text-white" id="mybidd" href="/MyBidding/Index?ten=@session.TenDangNhap">
                            <i class="fas fa-gavel fa-fw"></i>
                            Đấu giá của tôi
                        </a>
                    }
                    else
                    {
                        <a class="btn text-white" id="mybidd" href="">
                            <i class="fas fa-gavel fa-fw"></i>
                            Đấu giá của tôi
                        </a>
                    }
                </li>
                <li class="nav-item mx-1">
                    <a class="btn text-white show-modal" data-toggle="modal" data-target="#loginModal" id="Login-Button">Đăng nhập</a>
                </li>
                <li class="nav-item dropdown no-arrow mx-1" id="login-Account">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-circle fa-fw">
                            @if (session != null)
                            {
                                @session.TenDangNhap
                            }
                        </i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        @if (session != null)
                        {
                            <a class="dropdown-item" href="/User/Edit?tendn=@session.TenDangNhap">Cá nhân</a>
                        }
                        <a class="dropdown-item" href="#">Đơn hàng</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="AuctionFeed">
        <div id="tabs" class="bg-light">
            <div class="wrapper">
                <ul id="List-Catogeries" class="mr-3">
                    <li>
                        <a class="active" href="#">KẾT THÚC NGAY</a>
                    </li>
                    @if (listDanhMuc != null)
                    {
                        foreach (var item in listDanhMuc)
                        {
                            var url = "/Category/Index?tendanhmuc=" + item.ID;
                            <li>
                                <a href="@url">@item.TenDanhMuc</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 50px; color:black;">
        <div class="border border-primary">
            <h2 class="alert alert-primary text-center" style="margin-left:0px ;margin-right:0px;">Cập nhật tài khoản</h2>
            @using (Html.BeginForm("Edit", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()              
                <form>
                    <div class="form-group row w-75 justify-content-center" style="margin:auto; padding-bottom:15px;">
                        <label for="TenDN" class="col-2 col-form-label">Tên đăng nhập</label>
                        <div class="col-6">
                            <input name="tendn" type="text" class="form-control" id="TenDN" value="@Model.TenDangNhap" readonly />
                        </div>
                    </div>
                    <div class="form-group row w-75 justify-content-center" style="margin:auto; padding-bottom:15px;">
                        <label for="MatKhau" class="col-2 col-form-label">Mật khẩu</label>
                        <div class="col-6">
                            <input name="matkhau" type="password" class="form-control" id="MatKhau" value="@Model.MatKhau" required />
                        </div>
                    </div>
                    <div class="form-group row w-75 justify-content-center" style="margin:auto; padding-bottom:15px;">
                        <label for="MatKhau" class="col-2 col-form-label">Nhập lại mật khẩu</label>
                        <div class="col-6">
                            <input name="matkhau" type="password" class="form-control" id="Confirm" value="@Model.MatKhau" required />
                        </div>
                    </div>
                    <div class="form-group row w-75 justify-content-center" style="margin:auto; padding-bottom:15px;">
                        <label for="hoten" class="col-2 col-form-label">Họ và tên</label>
                        <div class="col-6">
                            <input name="hoten" type="text" class="form-control" id="HoTen" value="@Model.HoTen" required />
                        </div>
                    </div>
                    <div class="form-group row w-75 justify-content-center" style="margin:auto; padding-bottom:15px;">
                        <label for="DiaChi" class="col-2 col-form-label">Địa chỉ</label>
                        <div class="col-6">
                            <input name="diachi" type="text" class="form-control" id="DiaChi" value="@Model.Diachi" required />
                        </div>
                    </div>
                    <div class="form-group row w-75 justify-content-center" style="margin:auto; padding-bottom:15px;">
                        <label for="email" class="col-2 col-form-label">Email</label>
                        <div class="col-6">
                            <input name="email" type="email" class="form-control" id="email" value="@Model.Email" required />
                        </div>
                    </div>
                    <div class="form-group row w-75 justify-content-center" style="margin:auto; padding-bottom:15px;">
                        <label for="sdt" class="col-2 col-form-label">Số điện thoại</label>
                        <div class="col-6">
                            <input name="sdt" type="tel" class="form-control" id="sdt" required value="@Model.SDT" maxlength="10" />
                        </div>
                    </div>
                    @if(ViewBag.ThongBao != null)
                    {
                        <div class="alert alert-danger">@ViewBag.ThongBao</div>
                    }
                    <div class="form-group row justify-content-center">
                        <button type="submit" class="btn btn-primary" id="submit">Xác nhận</button>
                    </div>
                </form>
            }
        </div>
    </div>

    <footer class="footer bg-primary mt-2">
        <div class="container">
            <div class="copyright text-center">
                <span>Copyright © Your Website 2019</span>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn muốn đăng xuất không?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="button">@Html.ActionLink("Đăng xuất", "Logout", "Home", new { @class = "text-white", @style = "text-decoration:none;" })</button>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Assets/Home/vendor/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        @if (session == null)
        {
            <text>
        var login_button = document.getElementById("Login-Button");
        var login_account = document.getElementById("login-Account");
        login_account.parentNode.replaceChild(login_button, login_account);
            </text>
        }
        else
        {
            <text>
        var login_button = document.getElementById("Login-Button");
        var login_account = document.getElementById("login-Account");
        login_button.parentNode.replaceChild(login_account, login_button);
            </text>
        }
    </script>
    <script type="text/javascript">
        var password = document.getElementById("MatKhau")
            , confirm_password = document.getElementById("Confirm");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Xác nhận mật khẩu không đúng");
            } else {
                confirm_password.setCustomValidity('');
            }
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
</body>
</html>
